In [2]:
import pandas as pd

data = pd.read_csv('./EmployeeAttrition.csv')

In [3]:
print(data.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [4]:
#Check the head of the DataFrame.
print(data.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [3]:
#Q1: Find the number of entries/rows and columns in the data.
# Ans:(1470, 35)
print(data.shape)
print("-"*100)

#Q2: What is the average Monthly Income?
# Ans: 6502.931292517007
print(data.MonthlyIncome.mean())
print("-"*100)

#Q3: What is the highest amount of HourlyRate ?
# Ans:100
print(data.HourlyRate.max())
print("-"*100)

#Q4: What is the Department, JobRole, MaritalStatus and OverTime of EmployeeNumber 10?
# Ans:               Department                JobRole MaritalStatus
#     6  Research & Development  Laboratory Technician       Married
print(data[data['EmployeeNumber']==10][['Department','JobRole','MaritalStatus']])
print("-"*100)

#Q5: What is the Employee ID of highest MonthlyIncome paid employee?
# Ans:190    259
#   Name: EmployeeNumber, dtype: int64

print(data.sort_values(by=["MonthlyIncome"], ascending=False)["EmployeeNumber"][:1])
print("-"*100)

#Q6: What is the average(mean) DailyRate group by Age for all Employees whose age is greater than 58. (hint: use groupby function)
# Ans:Age
#     59    992.3
#     60    833.2
#Name: DailyRate, dtype: float64
df_age_gt_58 = data.loc[data['Age'] > 58]
print(df_age_gt_58.groupby(["Age"])["DailyRate"].mean())
print("-"*100)

#Q7: How many unique EducationField are there?
# Ans:['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
# 'Human Resources']
print(data.EducationField.unique())
print("-"*100)

#Q8: What are the top 5 most common JobRole?
# Ans:Sales Executive              326
#Research Scientist           292
#Laboratory Technician        259
#Manufacturing Director       145
#Healthcare Representative    131
#Name: JobRole, dtype: int64
print(data['JobRole'].value_counts().head(5))
print("-"*100)

#Q9: How many JobRoles represented by less than 100 employees?
# Ans:JobRole
#Human Resources         52
#Research Director       80
#Sales Representative    83
#Name: EmployeeNumber, dtype: int64
emp_count = data.groupby(["JobRole"])["EmployeeNumber"].count()
print(emp_count[emp_count < 100])
print("-"*100)

#Q10: What is the correlation between Education and JobSatisfaction?
# Ans: -0.011296116736573911
print(data["Education"].corr(data["JobSatisfaction"]))
print("-"*100)

(1470, 35)
----------------------------------------------------------------------------------------------------
6502.931292517007
----------------------------------------------------------------------------------------------------
100
----------------------------------------------------------------------------------------------------
               Department                JobRole MaritalStatus
6  Research & Development  Laboratory Technician       Married
----------------------------------------------------------------------------------------------------
190    259
Name: EmployeeNumber, dtype: int64
----------------------------------------------------------------------------------------------------
Age
59    992.3
60    833.2
Name: DailyRate, dtype: float64
----------------------------------------------------------------------------------------------------
['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
----------------------------------------------------------------------------------------------------
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Name: JobRole, dtype: int64
----------------------------------------------------------------------------------------------------
JobRole
Human Resources         52
Research Director       80
Sales Representative    83
Name: EmployeeNumber, dtype: int64
----------------------------------------------------------------------------------------------------
-0.011296116736573911
----------------------------------------------------------------------------------------------------